* {
    margin: 0;
    padding: 0;
}

/* body {
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    width: 1838px;
}

.left-panel {
    display: inline-flex;
    border: 1px solid black;
    height: 980px;
    width: 575px;
    margin-top: -10px;
    margin-left: -10px;
}


/* .logo {
    display: inline-flex;
    width: 655px;
    height: 100px;
    
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 3.4rem;
    margin-left: -576px;
    margin-top: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
}

.credit {
    display: inline-flex;
    margin-left: -655px;
    margin-top: 860px;
    color: white;
    font-size: 0.8rem;
    justify-content: center;
    align-items: flex-end;
    width: 655px;
    height: unset;
} */

/* 
.top-right-panel {
    width: 2975px;
    height: 326px;
    background-color: rgb(243, 240, 240);
    margin-left: 787px; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    margin-right: -500px;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 2000px;
    margin-top: 350px;
    font-size: 1.25rem;
    border: 1px solid red;
    row-gap: 20px;
}

input,
label {
    display: block;
} */



body {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
}
.left-panel {
    /* border: 1px solid red; */
    overflow-x: hidden;
    width: 675px;
    height: 984px;
    overflow-x: hidden;
}

.left-panel img {
    width: 675px;
    height: 100vh;
    overflow-x: hidden;
}

.logo {
    display: flex;
    background-color: rgba(211, 7, 7, 0.15);
    position:absolute;
    float: left;
    top: 550px;
    justify-content: center;
    width: 675px;
    height: 100px;
    font-size: 3.4rem;
    align-items: center;
    word-spacing: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.credit {
    display: flex;
    width: 673px;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position:absolute;
    float: left;
    bottom: 5px;
    font-size: 0.8rem;
}

.top-right-panel {
    /* border: 1px solid teal; */
    display: flex;
    height: 350px;
    width: 1153px;
    background-color: #dad6d62f;
}

.form-panel {
    display: flex;
    /* border: 1px solid brown; */
    position:absolute;
    float: left;
    bottom: 352px;
    right: 0px;
    top: 352px;
    left: 678px;
    border: none
    
}

form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid brown; */
    position:absolute;
    float: left;
    bottom: 352px;
    right: 0px;
    top: 352px;
    left: 678px;
    row-gap: 25px;
    font-size: 1.25rem;
    justify-content: center;
    padding-left: 25px;
    border: none;
    
}

/* input,
label {
    display: block;
    float: left;
    column-gap: 25px;
} */

input {
    display: flex;
    float: left;
    padding: 5px;
    font-size: 1.115rem;
    margin-right: 75px;
    /* border: 1px solid red */

}


label {
    display: block;
    /* border:1px solid purple */
}
.bottom-right-panel {
    /* border: 1px solid teal; */
    display: flex;
    height: 350px;
    width: 1153px;
    background-color: #dad6d62f;
    position:absolute;
    float: left;
    bottom: 0px;
    right: 0px;
    left:675px;
}


#lastName {
    position: relative;
    top: -25px;
}

label[for="lastName"] {
    position: relative;
    top: -25px;
    
}

#phone_number {
    position: relative;
    top: -25px
}

label[for="phone_number"] {
    position: relative;
    top: -25px;
}

#user_password_check {
    position: relative;
    top: -25px;
}

label[for="user_password_check"] {
    position: relative;
    top: -25px;
}

fieldset {
    border: none;
}

button {
    padding: 10px 15px;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(202, 49, 29);
    color: white;
    border-radius: 8px;
    z-index: -1;
}